html {
    scroll-behavior: smooth;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 3;
  position: fixed;
}

.modal_form {
  width: 425px;
  height: 595px;
  border-radius: 4px;
  background: #FFF;
}

.buttonCancel {
    position: absolute;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: none;
    background: none;
    margin-left: 400px;
}

.modal_form_fortitle {
  display: flex;
  justify-content: center;
}

.modal_form_fortitle_title {
  color: #202336;
  font-family: "Montserrat";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 35px;
}

.modal_form_fortitle2 {
  display: flex;
  justify-content: center;
}

.modal_form_fortitle2_title {
  color: #202336;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.modal_form_forinput1 {
  display: flex;
  justify-content: center;
}

.modal_form_forinput1_input1 {
  width: 299px;
  height: 52px;
  border-radius: 6px;
  border: 0.8px solid #AFB0B9;
  margin-top: 8px;
  color: #202336;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal_form_fortitle3 {
  display: flex;
  justify-content: center;
}

.modal_form_fortitle3_title {
  color: #202336;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.modal_form_forinput2 {
  display: flex;
  justify-content: center;
}

.modal_form_forinput2_input1 {
  width: 299px;
  height: 52px;
  border-radius: 6px;
  border: 0.8px solid #AFB0B9;
  margin-top: 8px;
  color: #202336;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal_form_fortitle4 {
  display: flex;
  justify-content: center;
}

.modal_form_fortitle4_title {
  color: #202336;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.modal_form_forinput3 {
  display: flex;
  justify-content: center;
}

.modal_form_forinput3_input1 {
  width: 299px;
  height: 52px;
  border-radius: 6px;
  border: 0.8px solid #AFB0B9;
  margin-top: 8px;
  color: #202336;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal_form_fortitle5 {
  display: flex;
  justify-content: center;
}

.modal_form_fortitle5_title {
  color: #202336;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.modal_form_forinput4 {
  display: flex;
  justify-content: center;
}

.modal_form_forinput4_input1 {
  width: 299px;
  height: 52px;
  border-radius: 6px;
  border: 0.8px solid #AFB0B9;
  margin-top: 8px;
  color: #202336;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.centerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_form_btnRegister {
  width: 132px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid rgb(74, 137, 220);
  background: #FFF;
  color: rgb(74, 137, 220);
  font-family: "Montserrat";
  font-size: 15px;
  cursor: pointer;
  margin-top: 25px;
  transition-duration: 0.6s;
}

.modal_form_btnRegister:hover {
  transition-duration: 0.6s;
  border-radius: 8px;
  background: rgb(74, 137, 220);
  color: #FFF;
}

.header {
    width: 100%;
    height: 91px;
    position: fixed;
    z-index: 2;
    background: #fff;
}

.header_forhead {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_forhead_head {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1349px;
    height: 43px;
}

.header_forhead_head_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_forhead_head_logo_logoText {
    color: #000;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
    margin-left: 10px;
}

.header_forhead_head_nav {
    width: 514px;
    height: 15px;
}

.header_forhead_head_nav_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header_forhead_head_nav_ul_li {
    list-style: none;
}

.header_forhead_head_nav_ul_li_a {
    color: #000;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition-duration: 0.6s;
}

.header_forhead_head_nav_ul_li_a:hover {
    font-weight: 900;
    transition-duration: 0.6s;
}

.header_forhead_head_forbtn {
    position: relative;
    width: 33px;
    height: 37px;
}

.header_forhead_head_forbtn_divbtn {
    display: flex;
    column-gap: 15px;
}

.header_forhead_head_forbtn_divbtn_btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.header_forhead_head_forbtn_divbtn_btn2 {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.header_forhead_head_forbtn_circle {
    position: absolute;
    top: -1px;
    right: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(74, 137, 220);
}

.header_forhead_head_forbtn_circle_p {
    color: #fff;
    font-family: "Montserrat";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_head2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid rgb(74, 137, 220);
    border-top: 1px solid rgb(74, 137, 220);
    margin-top: 23px;
    column-gap: 450px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.header_head2_forinput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 41px;
    border: 1px solid rgb(211, 216, 224);
    border-radius: 8px;
    column-gap: 100px;
}

.header_head2_forinput_input {
    border: none;
    color: #000;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    outline: none;
}

.header_head2_forinput_btn {
    border: none;
    background: none;
    cursor: pointer;
}

.header_head2_category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 411px;
    height: 33px;
    column-gap: 9px;
}

.header_head2_category_cat {
    background: none;
    border: 1px solid rgb(67, 74, 84);
    border-radius: 2px;
    color: rgb(67, 74, 84);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    outline: none;
}

.header_head2_category_checkbox {
    cursor: pointer;
}

.header_head2_category_p1 {
    color: rgb(67, 74, 84);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.header_head2_category_p2,
.header_head2_category_p3 {
    color: rgb(67, 74, 84);
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

.header_head2_category_inp1,
.header_head2_category_inp2 {
    width: 51px;
    height: 26px;
    border: 1px solid rgb(202, 207, 215);
    border-radius: 6px;
    background: rgb(250, 250, 250);
    outline: none;
    color: rgb(67, 74, 84);
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}